/* ==========================================================================
   
    # INLINE DIVIDER

========================================================================== */

/**
 *
 */



/* Base
========================================================================== */

.o-inline-divider {
    display: inline-block;
    margin-left: $unit-xs;
    margin-right: $unit-xs;
}