/* ==========================================================================
   
    # SELECT

========================================================================== */

/**
 * Layout for custom dropdown
 *
 * N.B. For cosmetics see c-select
 */




/* Base
========================================================================== */

.o-select {
    @include font-size($font-size-sm);
    max-width: none;
    width: 100%;
    padding: $unit-xs;
    cursor: pointer;
}



/* Chilren
========================================================================== */
