/* ==========================================================================
   
    # RADIO

========================================================================== */

/**
 * N.B. Refer to c-radio for cosmetics
 */



/* Base
========================================================================== */

.o-radio {
    height: $unit-md;
    width: $unit-md;
    border-radius: 100%;
    cursor: pointer;
}

