/* ==========================================================================
   
    # FIXED HEADER

========================================================================== */

/**
 * Sticky header
 */


/* Variables
========================================================================== */

$padding: $unit-md;
$line-height: $unit-md;
$height: ($padding * 2) + $line-height;




 /* Base
========================================================================== */

.o-fixed-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: $padding;
  z-index: 10;
}
