/* ==========================================================================
   
    # TEXTAREA

========================================================================== */

/**
 * N.B.
 */



/* Base
========================================================================== */

.o-textarea {
  max-width: none;
  display: inline-block;
  padding: $unit-sm;
  resize: none;
  margin-bottom: 1.5em;
}

/* Chilren
========================================================================== */

.o-textarea__input {
  width: 40em;
  height: 5em;
}

.o-textarea__ouput {
  width: 40em;
  height: 20em;
}