/* ==========================================================================
   
    # Label

========================================================================== */

/**
 * Basic button layouts
 *
 * N.B. Refer to c-button for cosmetics
 */



/* Base
========================================================================== */

.o-label {
  padding-top: 0.75em;
}




/* Size modiifers
========================================================================== */

.o-label__title {
  font-size: 1.25em;
}

.o-label__content {
  font-size: 0.9em;
}


/* Layout modifiers
========================================================================== */