/* ==========================================================================
   
    # GUTTER

========================================================================== */

/**
 *
 */



/* Base
========================================================================== */

.o-gutter {
    width: 50px;
}




/* Layout modifiers
========================================================================== */

.o-gutter--center {
  text-align: center;
}





/* Size modifiers
========================================================================== */

.o-gutter--sm {
  width: 16px;
}

.o-gutter--lg {
  width: 50px;
}