/* ==========================================================================
   
    # HIGHTLIGHT

========================================================================== */

/**
 * Highlighting cosmetic styles
 *
 * N.B. Refer to o-radio for layout
 */



/* Base
========================================================================== */

/**
 *
 */

.c-highlighted-string {
  background-color: rgba($color-yellow, 1);  
  pointer-events: none;
  color: black;
}

