/* ==========================================================================
   
    # Laebl

========================================================================== */

/**
 * Definiton label items
 */



/* Base
========================================================================== */

.c-label {
}



/* Children
========================================================================== */

.c-label__title {
  color: $color-orange;
  font-weight: bold;
}

.c-label__content {
  color: $color-neutral-3;
}