/* ==========================================================================
   
    # DEFINITION LIST (including title and definition)

========================================================================== */

/**
 * Definiton list items
 */



/* Base
========================================================================== */

.c-checkbox {
  font-family     : "myriad-pro",sans-serif;
  text-rendering  : "optimizeLegibility";
  outline-color: $color-orange-yellow;
}



/* Children
========================================================================== */