/* ==========================================================================
    
    # MAIN

========================================================================== */



/* SETTINGS
========================================================================== */
@import "../../node_modules/inuitcss/settings/example.settings.config";
$inuit-global-font-size: 16px;
$inuit-global-line-height: 24px;
@import "../../node_modules/inuitcss/settings/settings.core";

@import "./settings/settings.global-vars";
@import "./settings/settings.animations";





/* TOOLS
========================================================================== */
@import "../../node_modules/inuitcss/tools/tools.font-size";
@import "../../node_modules/inuitcss/tools/tools.clearfix";
@import "../../node_modules/inuitcss/tools/tools.hidden";
@import "../../node_modules/inuitcss/node_modules/sass-mq/mq";

@import "./tools/tools.aliases";





/* GENERIC
========================================================================== */
@import "../../node_modules/normalize.scss/normalize.scss";
@import "../../node_modules/inuitcss/generic/generic.box-sizing";
@import "../../node_modules/inuitcss/generic/generic.normalize";
@import "../../node_modules/inuitcss/generic/generic.reset";
@import "../../node_modules/inuitcss/generic/generic.shared";

@import "./generic/generic.my-resets.scss";





/* ELEMENTS
========================================================================== */
@import "../../node_modules/inuitcss/elements/elements.page";
@import "../../node_modules/inuitcss/elements/elements.headings";
@import "../../node_modules/inuitcss/elements/elements.images";
@import "../../node_modules/inuitcss/elements/elements.tables";

@import "./elements/elements.page.scss";
@import "./elements/elements.typography.scss";





/* OBJECTS
========================================================================== */
// Uncomment and add to this section as necessary.
// @import "../../node_modules/inuitcss/objects/objects.wrapper";
// @import "../../node_modules/inuitcss/objects/objects.layout";
// @import "../../node_modules/inuitcss/objects/objects.media";
// @import "../../node_modules/inuitcss/objects/objects.flag";
// @import "../../node_modules/inuitcss/objects/objects.list-bare";
// @import "../../node_modules/inuitcss/objects/objects.list-inline";
@import "../../node_modules/inuitcss/objects/objects.box";
// @import "../../node_modules/inuitcss/objects/objects.block";
// @import "../../node_modules/inuitcss/objects/objects.ratio";
// @import "../../node_modules/inuitcss/objects/objects.crop";
// @import "../../node_modules/inuitcss/objects/objects.table";
// @import "../../node_modules/inuitcss/objects/objects.pack";


@import "./objects/objects.box";
@import "./objects/objects.fixed-header";
@import "./objects/objects.button";
@import "./objects/objects.wrapper";
@import "./objects/objects.nowrap";
@import "./objects/objects.clickable-string";
// @import "./objects/objects.collapsible";
// @import "./objects/objects.inline-icon";
// @import "./objects/objects.zoom-control";
// @import "./objects/objects.control-panel";
// @import "./objects/objects.header";
// @import "./objects/objects.input-trigger";
// @import "./objects/objects.liner";
// @import "./objects/objects.marker";
@import "./objects/objects.control";
// @import "./objects/objects.overflow-gradient";
// @import "./objects/objects.map-container";
// @import "./objects/objects.map-marker-label";
// @import "./objects/objects.page";
// @import "./objects/objects.radio";
// @import "./objects/objects.tag";
// @import "./objects/objects.gutter";
@import "./objects/objects.inline-divider";
// @import "./objects/objects.no-wrap";
@import "./objects/objects.text-input-group";
@import "./objects/objects.text-input";
// @import "./objects/objects.tooltip";
// @import "./objects/objects.select";
@import "./objects/objects.definition-list";
// @import "./objects/objects.checkbox";
@import "./objects/objects.textarea";
@import "./objects/objects.label";






/* COSMETICS
========================================================================== */
@import "./cosmetics/cosmetics.button";
@import "./cosmetics/cosmetics.tab-links";
// @import "./cosmetics/cosmetics.select";
// @import "./cosmetics/cosmetics.inline-link";
// @import "./cosmetics/cosmetics.warning-string";
// @import "./cosmetics/cosmetics.map-container";
// @import "./cosmetics/cosmetics.zoom-control";
@import "./cosmetics/cosmetics.header";
// @import "./cosmetics/cosmetics.overflow-gradient";
// @import "./cosmetics/cosmetics.location-list-item";
// @import "./cosmetics/cosmetics.marker";
@import "./cosmetics/cosmetics.control";
// @import "./cosmetics/cosmetics.tag";
// @import "./cosmetics/cosmetics.indeterminate-loader";
@import "./cosmetics/cosmetics.text-input";
// @import "./cosmetics/cosmetics.tooltip";
// @import "./cosmetics/cosmetics.type-label";
// @import "./cosmetics/cosmetics.user-string";
@import "./cosmetics/cosmetics.definition-list";
@import "./cosmetics/cosmetics.checkbox";
@import "./cosmetics/cosmetics.highlight";
@import "./cosmetics/cosmetics.label";








/* UTILITIES
========================================================================== */
@import "../../node_modules/inuitcss/utilities/utilities.clearfix";

$inuit-offsets: true;
$inuit-fractions: 2 3 4 5 !default;
@import "../../node_modules/inuitcss/utilities/utilities.widths";
// @import "../../node_modules/inuitcss/utilities/utilities.headings";
@import "../../node_modules/inuitcss/utilities/utilities.spacings";

$inuit-responsive-spacing-sizes: (
    "": $unit-md,
    "-tiny": $unit-xs,
    "-small": $unit-sm,
    "-none": 0
);
@import "../../node_modules/inuitcss/utilities/utilities.responsive-spacings";
// @import "../../node_modules/inuitcss/utilities/utilities.print";
@import "../../node_modules/inuitcss/utilities/utilities.hide";

@import "./utilities/utilities.flow";
@import "./utilities/utilities.animation";
@import "./utilities/utilities.responsive";
@import "./utilities/utilities.position";
@import "./utilities/utilities.typography";